body {
	padding-bottom: 50px;
}

.alert-container {
	position: fixed;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1050;
	width: 100%;
	max-width: 700px;
}

.main-heading {
	text-align: center;
	margin: 20px 0px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-20 {
	margin-bottom: 20px;
}

.ml-20 {
	margin-left: 20px !important;
}

.actions-column {
	display: flex;
	justify-content: space-evenly;
}
