{% extends "main.html" %} 

{% block page_title %}Stores{% endblock %}


{% block content %}

<h1 class="main-heading">Stores List</h1>

<div class="row mb-20">
  <div class="col-md-12">
    <a href="{% url 'customers:stores_create' %}" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Create Store</a>
  </div>
</div> 

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Products</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for store in stores %}
    <tr>
      <td>{{ store.name }}</td>
      <td>{{ store.owner.name }}</td>
      <td>{{ store.products.count }}</td>
      <td class="actions-column">
        <a href="{% url 'customers:upload_products' store.id %}" class="" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Upload Products"><i class="fa fa-plus-square" aria-hidden="true"></i></a>

        <a href="{% url 'customers:stores_view' store.id %}" class="" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="View details"><i class="fa fa-bars" aria-hidden="true"></i></a>
        
        <a href="{% url 'customers:stores_update' store.id %}" class="" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Update details"><i class="fa fa-pencil" aria-hidden="true"></i></a>

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}

{% block js_files %}

<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

{% endblock %}

